<div class="container">
    <div class="row">
        <div class="inputs">
            <div class="content">
                <!-- component -->
                <div class="grid w-[40rem] grid-cols-4 gap-2 rounded-xl bg-purple-950 p-2">
                    <div>
                        <input
                            type="radio"
                            name="option"
                            id="1"
                            value="1"
                            class="peer hidden"
                            checked
                        >
                        <label for="1" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-purple-700 peer-checked:font-bold peer-checked:text-white">1</label>
                    </div>
                    <div>
                        <input
                            type="radio"
                            name="option"
                            id="2"
                            value="2"
                            class="peer hidden"
                        >
                        <label for="2" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">2</label>
                    </div>
                    <div>
                        <input
                            type="radio"
                            name="option"
                            id="3"
                            value="3"
                            class="peer hidden"
                        >
                        <label for="3" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">3</label>
                    </div>
                    <div>
                        <input
                            type="radio"
                            name="option"
                            id="4"
                            value="3"
                            class="peer hidden"
                        >
                        <label for="4" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">4</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="employees">
            <div class="content">table 456</div>
        </div>
    </div>
</div>
