<div class="container">
    <div class="row">
        <div class="column">
                <a class="key" style="background-color:rgb(255, 41, 41);" (click)="playSound(1)">DO</a>
                <a class="key" style="background-color:rgb(254, 185, 56);" (click)="playSound(2)">RE</a>
                <a class="key" style="background-color:rgb(248, 237, 40);" (click)="playSound(3)">MI</a>
                <a class="key" style="background-color:rgb(30, 170, 30);" (click)="playSound(4)">FA</a>
                <a class="key" style="background-color:rgb(16, 160, 160);" (click)="playSound(5)">SOL</a>
                <a class="key" style="background-color:rgb(68, 68, 255);" (click)="playSound(6)">LA</a>
                <a class="key" style="background-color:rgb(245, 117, 245);" (click)="playSound(7)">SI</a>
        </div>
    </div>
</div>
