<div class="row min-h-screen max-w-2xl m-auto flex flex-col w-full gap-4 justify-center items-center">
    <h2>BMI Calculator</h2>
    <div class="grid grid-cols-12 gap-4 w-full">
        <div class="column-6-container">
            <span class="material-symbols-rounded text-[60px]"> female</span>
            <p class="text-2xl">Female</p>
        </div>
        <div class="column-6-container">
            <span class="material-symbols-rounded text-[60px]"> male</span>
            <p class="text-2xl">Male</p>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mx-auto w-full">
        <div class="col-span-12 bg-red-950 h-36 rounded-3xl flex flex-row flex-wrap justify-center items-center p-4">
            <div class="text-center">
                <div class="text-xl w-full text-center">Height</div>
                <div class="text-3xl font-bold flex flex-row items-end">
                    170
                    <div class="text-lg font-normal">cm</div>
                </div>
            </div>
            <input
                id="default-range"
                type="range"
                value="50"
                class="w-full h-2 rounded-lg appearance-none cursor-pointer bg-red-200/50 accent-red-500"
            >
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mx-auto w-full">
        <div class="column-6-container">ho</div>
        <div class="column-6-container">la</div>
    </div>
    <div class="grid grid-cols-12 gap-4 mx-auto w-full">
        <div class="col-span-12 bg-red-600/75 px-6 py-4 rounded-full text-center uppercase font-bold text-xl">Calculate</div>
    </div>
</div>
