<div class="container flex justify-center w-full mx-auto">
    <div class="row w-full">
        <div class="form w-10/12 mx-auto mt-6">
            <label for="first_name" class="block mb-2 text-lg pl-3 font-medium text-gray-900 dark:text-white">Add task</label>
            <input
                [(ngModel)]="taskName"
                (keyup.enter)="addTask()"
                type="text"
                id="first_name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write your task here"
                required
            >
        </div>
        <div class="form w-10/12 mx-auto mt-6">
            <h3 class="text-white">You have no pending tasks!</h3>
        </div>
        
<div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <a *ngFor="let task of tasksList" href="#" aria-current="true" class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600">
        {{ task.name }}
    </a>

</div>

    </div>
</div>
