<div class="container mx-auto p-6 flex justify-center">
    <div class="row w-3/5">
        <div class="col px-5">
            <div class="mb-3">
                <label for="email" class="text-sm text-navy-700 dark:text-white font-bold">Quantity</label>
                <input type="number" placeholder="Quantity..." class="mt-2 flex h-12 w-full items-center justify-center rounded-xl border bg-[rgba(16,28,26,0.9)] p-3 text-sm outline-none border-gray-200">
            </div>
        </div>
        <div class="col px-5">
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Origin</label>
            <select id="countries" class=" text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-[rgba(13,24,23,0.8)] border-gray-200 outline-none placeholder-gray-400 text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Choose a currency</option>
                <option value="EUR">Euro</option>
                <option value="USD">US Dollar</option>
                <option value="CHF">Suiss francs</option>
            </select>
        </div>
        <div class="col"></div>
    </div>
</div>
