@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=VT323&display=swap');

@layer base {
    @font-face {
        font-family: Acumin Variable;
        src: url(/fonts/AcuminVariableConcept.otf) format("otf");
    }

}


body {
    background-color: #021320;
    color: #fff;
    padding: 15px
}